body.asp-wiki-minify.skin--responsive {
    --color-base: #666;
    --color-emphasized: #555;
    --color-progressive: #7184aa;
    --color-visited: #7683ae;
    --color-box-inset: #f7f7f7;
    --border-color-subtle: #d5d7da;

    --header-margin: 1rem;

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
        opacity: 0.8;
    }

    .vector-body-before-content {
        display: none;
    }

    .vector-dropdown-content {
        border-radius: 12px;
        box-shadow: 0 1px 10px -1px rgba(0 0 0 / 25%);
    }

    .vector-pinnable-header-toggle-button {
        border-radius: 6px;
    }


    .oo-ui-popupWidget-anchored-top {
        filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));

        .oo-ui-popupWidget-popup {
            border-radius: 10px;
            border: none;
        }

        .oo-ui-popupWidget-anchor::before {
            border-bottom-color: transparent;
        }
    }

    .mw-header {
        padding-top: 1.5rem;
        align-items: end;
    }

    .cdx-typeahead-search__menu.cdx-menu {
        border: none;
        border-radius: 8px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
        top: 40px;
        width: calc(100% + 50px);
    }

    .vector-column-start,
    .vector-column-end {
        opacity: 0.7;
    }

    .mw-logo {
        min-width: unset;
        margin-left: 14px;

        .mw-logo-icon {
            width: 2rem;
            height: 2rem;
        }

        .mw-logo-wordmark,
        .mw-logo-tagline {
            width: 70% !important;
            margin: unset;
        }
    }

    .mw-body-content h2,
    .mw-first-heading {
        font-family: sans-serif;
    }

    .vector-page-titlebar::after {
        display: none;
    }

    .vector-sitenotice-container:has(#centralNotice:empty) {
        display: none;
    }

    .mw-body .vector-page-titlebar {
        margin-block: var(--header-margin);
    }

    #p-lang-btn {
        background-color: #f7f7f7;
        padding: 2px;
        translate: -16px calc(100% + var(--header-margin) - 2.5px);
        border-radius: 4px;

        #p-lang-btn-label {
            padding-inline: 5px;

            .vector-icon {
                margin-right: 0;
                background-size: 16px;
                mix-blend-mode: luminosity;
            }

            .vector-dropdown-label-text {
                display: none;
            }
        }

        .vector-dropdown-label.cdx-button--action-progressive.cdx-button--weight-quiet::after {
            display: none;
        }
    }

    .mw-watchlink {
        background-color: #f7f7f7;
        translate: 0 -4px;
        width: 36px;
        text-align: center;
        height: 36px;
        border-radius: 4px;
    }

    .vector-page-toolbar-container {
        box-shadow: 0 1px var(--border-color-subtle);

        nav a {
            color: #999;
        }

        #right-navigation {
            margin-right: 36px;

            nav {

                #vector-page-tools-dropdown {
                    margin-bottom: 0;
                    margin-top: -4px;
                    margin-left: 4px;
                    width: 36px;
                    height: 36px;
                    border-radius: 4px;
                    background-color: #f7f7f7;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '\2699';
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        inset: 0;
                        font-size: 22px;
                        translate: 0 -1px;
                    }

                    .vector-dropdown-checkbox {
                        width: 36px;
                    }

                    #vector-page-tools-dropdown-label {
                        padding: 0;
                        height: 100%;
                        width: 100%;

                        .vector-dropdown-label-text,
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }


    .mw-parser-output {
        figure[typeof~='mw:File/Thumb'] {
            border: none;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0.5px 1.5px rgb(0 0 0 / 50%);

            > :not(figcaption) .mw-file-element {
                margin: 0;
                border: 0;
                max-width: 100%;
            }

            >figcaption {
                border: none;
                padding: 1rem;
                background-color: var(--background-color-interactive);
            }
        }
    }
}